body {
  height: 100vh;
  margin: 0px;
  font-size: 30px;
}

.header {
  background-color: grey;
  color: black;
  height: 8vh;
  padding: 1vh;
}

.footer {
  background-color: gray;
  color: black;
  height: 8vh;
  padding: 1vh;
}
.container {
  display: flex;
  height: 78vh;
  flex-direction: column;
  margin: 1vh 0;
}

.content-a {
  background-color: red;
  padding: 1vh;
}

.content-b {
  background-color: orange;
  padding: 1vh;
}

.content-c {
  background-color: yellow;
  padding: 1vh;
}
@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }
  .container-ab {
    width: 70%;
    order: 1;
  }
  .content-a {
    height: 37vh;
  }
  .content-b {
    height: 37vh;
  }
  .content-c {
    width: 30%;
    order: 2;
  }
}
@media screen and (max-width: 800px) and (min-width: 480px) {
  .header {
    height: 6vh;
  }
  .footer {
    height: 6vh;
  }
  .container {
    flex-direction: row;
    height: 82vh;
  }
  .container-ab {
    width: 50%;
    order: 1;
  }
  .content-a {
    height: 39vh;
  }
  .content-b {
    height: 39vh;
  }
  .content-c {
    width: 50%;
    order: 2;
    height: 80vh;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 4vh;
  }

  .footer {
    height: 4vh;
  }
  .container {
    height: 86vh;
  }
  .container-ab {
    order: 1;
  }
  .content-a {
    height: 26.66vh;
  }
  .content-b {
    height: 26.66vh;
  }
  .content-c {
    height: 26.66vh;
    order: 2;
  }
}
